.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    width: 115px;
    min-height: 25px;
}

.tag-text {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 450px) {

    .tag {

        min-height: 18px;
        width: 84px;
    }
}