.tags {
    display: flex;
    flex-direction: row;

}

/* .tag {
    margin-left: 50px;
    border-radius: 10px;
    width: 115px;
    text-align: center;

} */

.tag {
    display: inline-block;
    background-color: #ff6060;
    color: white;
    padding: 5px 30px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}