.small-collapse {
    width: 580px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: left;
}

.small-header-collapse {
    width: 100%;
    height: 25%;
    min-height: 50px;
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
}

.small-title-collapse {
    height: 50px;
    color: white;
    line-height: 50px;
    margin: 5px 10px;
}

.small-description-collapse {
    height: 75%;
    min-height: 100px;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    color: #ff6060;
    margin-top: -10px;
    padding: 25px 10px 10px 10px;
}

.arrow-collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
}

.arrow-collapse.true {
    justify-content: start;
    transform: rotate(180deg);
}

.arrow-collapse.open img {
    transform: rotate(180deg);
}

@media only screen and (max-width: 1400px) {
    .small-collapse {
        width: 400px;
    }
}