.collapse {
    width: 100%;
    border-radius: 5px;
    text-align: left;
}

.header-collapse {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
}

.title-collapse {
    height: 50px;
    color: white;
    line-height: 50px;
    margin: 5px 10px;
}

.description-collapse {
    height: 75%;
    min-height: 150px;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    color: #ff6060;
    margin-top: -10px;
    padding: 25px 10px 10px 10px;
}

.arrow-collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
}

.arrow-collapse.true {
    justify-content: start;
    transform: rotate(180deg);
}

.arrow-collapse.open img {
    transform: rotate(180deg);
}

/* @media only screen and (max-width: 1180px) {
    .collapse {
        width: 85%;
    }
} */

/* @media only screen and (max-width: 780px) {
    .collapse {
        width: 335px;
    }

    .header-collapse {
        width: 335px;
        height: 30px;
        min-height: 30px;
    }

    .arrow-collapse>img {
        width: 20px;
        height: 15px;
    }

    .title-collapse {
        font-size: 13px;
    }

    .description-collapse {
        font-size: 12px;
        height: 75%;
        height: 160px;
    }
}

@media only screen and (max-width: 355px) {
    .collapse {
        width: 300px;
    }

    .header-collapse {
        width: 300px;
    }
} */