.background-card {
    background-color: #f6f6f6;
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    border-radius: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
}

.box {
    /* width: calc(33.33% - 20px); */
    width: 30%;
    margin-top: 60px;
}