.container-notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;

    height: 100vh;
}

.code {
    font-size: 288px;
    margin-bottom: 0;
}

.message {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 190px;
}

.retour {
    text-decoration-line: none;
    color: #FF6060;
    font-size: 18px;
}