.banner {
    border-radius: 25px;
    height: 223px;
    margin-bottom: 35px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;

}

.banner-img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.banner-sombre {
    background-color: #000000;
    border-radius: 25px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner-txt {
    width: max-content;
    color: white;
    font-size: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}