.banner {
    border-radius: 25px;
    height: 100%;
    position: relative;

}

.banner-img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.banner-sombre {
    background-color: #000000;
    border-radius: 25px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner-txt {
    width: max-content;
    color: white;
    font-size: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* Pour les écrans de mobile */
@media only screen and (max-width: 680px) {
    .banner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }


    .banner-img,
    .banner-sombre {
        border-radius: 10px;
    }

    .banner-txt {
        font-size: 24px;
        font-weight: 500;
        width: 100%;
        margin: 0 auto;
        line-height: 1.2em;
        white-space: pre-line;
        padding-left: 16px;
    }
}